@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-custom {
    clip-path: polygon(90% 0, 100% 100%, 0 100%, 0 0);
  }
  .clip-diagonal {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  }
}
* {
  scroll-behavior: smooth;

  box-sizing: border-box;
}
/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.slick-list {
  overflow: hidden !important; /* Giữ các phần tử trong container */
  padding: 20px 0; /* Tạo khoảng cách giúp shadow hiển thị mà không bị cắt */
}

.slick-slide > div {
  display: flex;
  justify-content: center;
}

:where(.ant-tabs-nav .ant-tabs-tab) {
  flex: 1 !important;
  text-align: center;
  justify-content: center;
}
.ant-tabs-nav-list {
  width: 100% !important;
}
.slide-product .slick-list {
  padding: 0 !important;
}

.ant-drawer-content,
.ant-drawer-header,
.ant-menu,
.ant-menu-item {
  color: #fff !important;
}

.ant-menu-item-selected {
  color: #fff !important; /* Đảm bảo mục được chọn cũng là màu trắng */
}
.circle .highcharts-title,
.circle .highcharts-credits {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Ẩn trên IE và Edge */
  scrollbar-width: none; /* Ẩn trên Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Ẩn trên Chrome, Safari, và các trình duyệt WebKit */
}
